/*This CSS is only for main components (button, heading, image size, logo etc). For inner page css go to respective page*/

@import "variables";

.btn-cta{
color:#fff;
background:$secondary;
border-width:1px;
border-color: $secondary;
border-radius: 20px;
text-align:center;
vertical-align: middle;
font-size: medium;
width: auto;
line-height:1;
padding:10px 20px;
transition: all .3s;

    &:hover{
        background:transparent;
            }
}

.btn-project{
background:transparent;
border-width:1px;
border:0px solid;
text-align:center;
font-size: 1.3rem;
font-weight:600;
padding:10px 0;
width: auto;
line-height:1;

    &:hover{
        background:$dark;
        color:$white;
        padding:10px;
        border-radius:20px;
        border:2px solid $secondary;
            }
    &::after{
        font-family: 'FontAwesome';
        content: '\f054';
        font-weight:900;
        line-height:1;
    }
}

